body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: rgb(21, 21, 21);
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 0.6vh solid yellow;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(246, 246, 64);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 20%;
    color: yellow;
}

.navbar a {
    text-decoration: none;
    color: yellow;
    font-size: 1.3rem;
}

.atual {
    font-weight: bolder;
    text-decoration: underline;
}

.background {
    padding: 10% 5%;
    height: 40vh;
    background-image: url("../Imagens/Background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    color: white;
    text-align: justify;
    width: 50%;
}

.footer {
    background-color: rgb(98, 96, 96);
    border-top: 0.6vh solid yellow;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista_contatos {
    text-align: left;
}