body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: rgb(21, 21, 21);
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 0.6vh solid yellow;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(246, 246, 64);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 20%;
    color: yellow;
}

.navbar a {
    text-decoration: none;
    color: yellow;
    font-size: 1.3rem;
}

.atual {
    font-weight: bolder;
    text-decoration: underline;
}

.background {
    padding: 10% 5%;
    height: auto;
    background-image: url("../Imagens/Background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    color: white;
    text-align: justify;
    width: 80%;
}

.footer {
    background-color: rgb(98, 96, 96);
    border-top: 0.6vh solid yellow;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista_contatos {
    text-align: left;
}

.caixa {
    display: flex;
    justify-content: center;
    border: 3px solid white;
    border-radius: 5%;
    background-color: black;
    width: 30rem;
    height: auto;
    padding: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

button {
    background-color: white;
    border-radius: 40%;
    text-decoration: underline;
    font-size: large;
    width: 10rem;
    cursor: pointer;
}

.btn_cadastro {
    border: #35ccf6 solid 4px;
    color: #00bbef;
    font-weight: bold;
}

.btn_login {
    border: #35f668 solid 4px;
    color: #18c546;
    font-weight: bold;
}

.itens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.texto {
    text-align: justify;
    width: 30rem;
}

.imagem {
    height: 10rem;
    border: 7px solid rgb(0, 0, 0);
    border-radius: 50%;
}